body {
  font-family: Verdana, Geneva, sans-serif;
}

.container {
  padding: 20px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: 150px repeat(3, 1fr); /* 1 colonna per l'effort + 3 per le priority */
  grid-template-rows: 50px repeat(7, 1fr); /* 1 riga per l'intestazione + 8 per l'effort */
  text-align: center;
  border: 2px solid black;
  width: 100%;
}

.header-cell {
  border: 1px solid black;
  font-weight: bold;
  background-color: #ddd;
  padding: 10px;
}

.row-header {
  border: 1px solid black;
  font-weight: bold;
  background-color: #eee;
  padding: 10px;
}

.grid-cell {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  max-height: 150px;
  overflow-y: auto;
}

.smell-box {
  margin-bottom: 10px;
  padding: 10px;
}

.arrowButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: blue; 
  color: white;
  font-size: 20px; 
  padding: 10px 15px;
  border: none; 
  border-radius: 40%; 
  cursor: pointer; 
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Container per inserire nuovi dati della prima vista*/
.new-microservice-container {
  max-width: 250px;
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
}

.new-microservice-container h2 {
  color: #4A90E2;
  font-size: 20px;
  margin-bottom: 10px;
}

.new-microservice-container input,
.new-microservice-container select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.new-microservice-container button {
  padding: 8px 12px;
  background-color: #4A90E2;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
}

.new-microservice-container button:hover {
  background-color: #357ABD;
}

.new-microservice-container input[type="file"] {
  width: 100%; 
  padding: 8px;
  font-size: 14px; 
  margin-top: 10px; 
  background-color: #f0f0f0; 
  border: 1px solid #ccc; 
  border-radius: 4px; /
}